

.para {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 600px;
    height: 420px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.image {
    width: 630px;
    height: 450px;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    .para, intro-image, .image, h1, .slideshow-container, .slide, .fade {
        width: 100%;
    } 
}
