body {
    background-image: url('back.jpeg');

    background-repeat: no-repeat;
    background-size: 100% 115%;
    text-align: center;
    
    
}

.head {
    display: flex;
    justify-content: flex-end;
    color: rgb(23, 172, 172);
    height: 80vh;
    
   
}

h1 {
    font-size: 95px;
    color: rgb(144, 15, 15);
    
}

button {
    background-color: green;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: azure;

}

.btn {
    margin-left: 800px;
    
}
    

