body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('back.jpeg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100vw;
    display: flex;
    iustify-content: center;
    align-items: center;
    
    
}

.head {
    display: flex;
    justify-content: flex-end;
    color: rgb(23, 172, 172);
    height: 80vh;
    
   
}

h1 {
    font-size: 95px;
    color: rgb(144, 15, 15);
    left: 100px;
    
}

button {
    background-color: green;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: azure;

}

.btn {
    margin-left: 800px;
    
}

@media screen and (max-width: 600px){
    body, .head, h1, button, .btn {
        width: 100%;
    } 
}
    
