body {
    border: 5px;
}



.para1 {
    font-size: 27px;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 600px;
    height: 420px
}

h1 {
    font-size: 50px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.image {
    width: 630px;
    height: 450px;
    object-fit: cover;
}

h3 {
    font-size: 40px;
}

.para2 {
    font-size: 25px;
}

.contact {
    text-align: center;
    border: 5px solid gold;
    padding: 10px 20px 20px 10px;
}
